.copybtn{
  margin-left: 45%;
    margin-top: 10px;
    z-index: 1;
    transition: fade;
    position:absolute;
  }

.nonsense {
    position: absolute;
    width: 100%;
    height: 100%;
    border:4px solid #182822;
    background-color: #182822;
  }
  .imgdiv{
    
    position: relative;
    margin-top: 0px;
    height:400px;
    width:800px;
    
    background-image: url('./Asset/bg-img.jpg');
  }
  .div-p-img
  {
    
    margin-top: 100px;
    margin-left: 17%;
    height: 600px;
    width:800px;
  }
  .input-el{
    margin-top: 10px;
  }
  .conceptDiv{
    height: 70px;
    overflow-x: scroll ;
    overflow-y: hidden;
  }
  .conceptPrev{
    height: 150px;
    overflow-x: scroll ;
    overflow-y: hidden;
    cursor:pointer;
    background-color: #F6F6F6;
  }

  .hide_div{
    display: none;
  }
  .display_div{
    display: none;
  }
.bg-color1{
 background-color: #484848 !important;
}
.bg-color2{
background-color: #5F5F5F !important;
}
.bg-color3{
  background-color: #F6F6F6;
}
.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white !important;
  opacity: 1;
  /* Firefox */
}
.searchtext{
  font-size: 14px;
  font-weight: 500;
  padding: 5px;
}
.tags{
  background-color: #fff !important;
  color: #1F1F1F !important;
  border:none !important;
  text-transform: uppercase;
  font-size: 12;
  padding: 5px 8px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  width: min-content;
  align-items: center;
}
.tags:hover{
  background-color: #484848 !important;
    color: #fff !important;
}
.tag-selected{
  background-color: #484848 !important;
    color: #fff !important;
}
.settingPopup{
  z-index: 99;
  border: 1px solid #d5d5d5;
  min-height: 150px;
  min-width: 125px;
  position: absolute;
  background: #fff;
  border-radius: 6px;
  top: 20%;
  left: 76%;
  padding: 16px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
      -moz-box-shadow: 0 10px 6px -6px #777;
      box-shadow: 0 10px 6px -6px #777;

}
.form-check{
  margin: 10px;
}
