.copybtn{
  margin-left: 45%;
    margin-top: 10px;
    z-index: 1;
    transition: fade;
    position:absolute;
  }

.nonsense, .body {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    /* border:4px solid #182822;
    background-color: #182822; */
    background-image: linear-gradient(135deg, rgb(134, 140, 255) 0%, rgb(67, 24, 255) 100%);

  }
  .imgdiv{
    /* position: relative;
    margin-top: 0px; */
    height:400px;
    width:800px;
    background-image: url('./Asset/kulfy-full-logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .div-p-img
  {
    /* margin-top: 100px;
    margin-left: 17%; */
    height: 600px;
    width:800px;
  }
  .input-el{
    margin-top: 10px;
  }
  .conceptDiv{
    /* height: 70px; */
    overflow-x: scroll ;
    overflow-y: hidden;
  }
  .conceptPrev{
    height: 150px;
    overflow-x: scroll ;
    overflow-y: hidden;
    cursor:pointer
  }
.obj-cover{
  object-fit: cover;
  /* height: 150px; */
}
.white-space-no-wrap{
  white-space: nowrap;
}
.brand-icon{
  padding: none;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  background-color: white;
  border: none;
}
.kb-header{
  background-color: #484848;
  /* border-radius: 10px; */
}
.kb-search{
  background-color: #5f5f5f;
  color: white;
  flex-grow: 1;
  border: none;
  outline: none;
  height: 30px;

}
.kb-tag {
  background-color: transparent;
  color: #484848;
}
.kb-tag:hover{
  background-color: #484848;
  color: #EDEDED;
}
.kb-tag:active {
  background-color: #626262 !important;
  color: #EDEDED;
}
.kb-tag.activated{
  background-color: #484848;
    color: #EDEDED;
}
.kb-poweredby{
  opacity: .5;
  font-size: 12px;
  margin: 0;
}
.poweredbykulfy{
  background-image: url('./Asset/klogo-noshadow.svg');
  background-repeat: no-repeat;
background-size: contain;
  height: 30px;
  width: 80px;
}
.kb-home{
  background-image: url('./Asset/home_white.svg');
  background-color: transparent;
  border: none;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 0;
    height: 20px;
    /* width: 18px; */
}
.k-brand-icon{
  background-image: url('./Asset/k-logo-pink.svg');
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
    width: 30px;
}
.kb-settings-icon{
  background-image: url('./Asset/settings.svg');
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    background-size: contain;
    height: 18px;
    width: 18px;
}
.kb-nav-item{
  background-color: transparent;
  border: none;
  padding: 2px 8px;
  border-radius: 4px;
  color: #EDEDED;
  opacity: .5;
  font-weight: 700;
}
.kb-nav-item:hover{
  opacity: 1;
  background-color:#182822 !important;
}
.kb-nav-item:active {
  opacity: 1;
  background-color: #353535 !important;
}
.kb-nav-item.activated{
  opacity: 1 !important;
    /* background-color: #182822 !important; */
}
.kb-filter{
  padding: 2px;
    border-radius: 100px;
    background: #EAEAEA;
    z-index: 1000;
      top: 120px;
      right: 20px;
      position: absolute;
      box-shadow: 4px 4px 14px 0px #ccc;
}
.kb-filter-option{
  border-radius: 100px;
  background: transparent;
    outline: none;
    border: none;
    padding: 10px 11px;
      font-weight: 700;
      font-size: 12px;
}
.kb-filter-option.selected {
  background: #fff;
}